<a href="https://colab.research.google.com/github/prgmr99/machine_learning-sklearn/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas Basic**

The Pandas library is built on Numpy and provides easy to use data structures and data analysis tools for the Python programming language.

In [1]:
import pandas as pd

In [4]:
# Pandas Data Structure
# series
s=pd.Series([3,-5,7,4], index=['a','b','c','d'])

In [5]:
# DataFrame
# A two-dimensional labeled data structure with columns of portentially different types

data={'Country': ['Belgium','India','Brazil'],
      'Capital':['Brussels','New Delhi','Brasilia'],
      'Population':[11190846,1303171035,207847528]}

In [6]:
df=pd.DataFrame(data, columns=['Country','Capital','Population'])

In [7]:
print(df)

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528